.frameChild {
  height: 338px;
  width: 1698px;
  position: relative;
  background-color: var(--color-steelblue-200);
  display: none;
  max-width: 100%;
}
.customerSupport11 {
  width: 99px;
  height: 99px;
  position: relative;
  object-fit: cover;
  z-index: 3;
}
.customerSupport11Wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
}
.contactUsToday {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
  z-index: 3;
}
.contactUsTodayHelpIsOnWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
  min-width: 483px;
  max-width: 100%;
}
.scheduleAService {
  position: relative;
}
.chevronRightIcon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.rectangleParent,
.scheduleButton,
.scheduleService {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.scheduleButton {
  border-radius: var(--br-9xs);
  background-color: var(--white);
  flex-direction: row;
  padding: var(--padding-base) var(--padding-xs);
  gap: var(--gap-3xs);
  white-space: nowrap;
  z-index: 3;
}
.rectangleParent,
.scheduleService {
  flex-direction: column;
  padding: var(--padding-7xl) 0 0;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--black);
  font-family: var(--font-open-sans);
}
.rectangleParent {
  align-self: stretch;
  background-color: var(--color-steelblue-200);
  flex-direction: row;
  flex-wrap: wrap;
  padding: var(--padding-96xl) var(--padding-269xl) var(--padding-101xl)
    var(--padding-270xl);
  box-sizing: border-box;
  gap: var(--gap-17xl);
  max-width: 100%;
  z-index: 2;
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--white);
  font-family: var(--font-poppins);
}
@media screen and (max-width: 1275px) {
  .contactUsTodayHelpIsOnWrapper {
    min-width: 100%;
  }
}
@media screen and (max-width: 900px) {
  .contactUsToday {
    font-size: var(--font-size-10xl);
  }
  .rectangleParent {
    padding-left: var(--padding-125xl);
    padding-right: var(--padding-125xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .contactUsToday {
    font-size: var(--font-size-3xl);
  }
  .rectangleParent {
    gap: var(--gap-lg);
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
